{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body>

<h1>Django Rest Framework</h1>
<h1>Backbone.js</h1>

<script src="{% static 'js/libs/underscore.js' %}"></script>
<script src="{% static 'js/libs/jquery.js' %}"></script>
<script src="{% static 'js/libs/backbone.js' %}"></script>

<script src="{% static 'js/csrf_ajax.js' %}"></script>

<script>

        var Contact = Backbone.Model.extend();

        var Contacts = Backbone.Collection.extend({
            url: '/api/contacts/',
            model: Contact
        });

        $(function(){

            var contacts = new Contacts();

            contacts.fetch({
                success: function(data){
                    console.log(data.toJSON());
                }
            });

        });

</script>

</body>
</html>